<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyan.exam.system.mapper.CyanQuestionMapper">
    
    <resultMap type="CyanQuestion" id="CyanQuestionResult">
        <result property="questionId"    column="question_id"    />
        <result property="category"    column="category"    />
        <result property="difficulty"    column="difficulty"    />
        <result property="questionType"    column="question_type"    />
        <result property="title"    column="title"    />
        <result property="subTitle"    column="sub_title"    />
        <result property="answer"    column="answer"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCyanQuestionVo">
        select question_id, category, difficulty, question_type, title, sub_title, answer, create_by, create_time, update_by, update_time, remark, status from cyan_question
    </sql>

    <select id="selectCyanQuestionList" parameterType="CyanQuestion" resultMap="CyanQuestionResult">
        <include refid="selectCyanQuestionVo"/>
        <where>  
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="difficulty != null "> and difficulty = #{difficulty}</if>
            <if test="questionType != null  and questionType != ''"> and question_type = #{questionType}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="subTitle != null  and subTitle != ''"> and sub_title = #{subTitle}</if>
            <if test="answer != null  and answer != ''"> and answer = #{answer}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectCyanQuestionByQuestionId" parameterType="Long" resultMap="CyanQuestionResult">
        <include refid="selectCyanQuestionVo"/>
        where question_id = #{questionId}
    </select>

    <insert id="insertCyanQuestion" parameterType="CyanQuestion" useGeneratedKeys="true" keyProperty="questionId">
        insert into cyan_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="category != null and category != ''">category,</if>
            <if test="difficulty != null">difficulty,</if>
            <if test="questionType != null and questionType != ''">question_type,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="subTitle != null">sub_title,</if>
            <if test="answer != null and answer != ''">answer,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="category != null and category != ''">#{category},</if>
            <if test="difficulty != null">#{difficulty},</if>
            <if test="questionType != null and questionType != ''">#{questionType},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="subTitle != null">#{subTitle},</if>
            <if test="answer != null and answer != ''">#{answer},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateCyanQuestion" parameterType="CyanQuestion">
        update cyan_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="difficulty != null">difficulty = #{difficulty},</if>
            <if test="questionType != null and questionType != ''">question_type = #{questionType},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="subTitle != null">sub_title = #{subTitle},</if>
            <if test="answer != null and answer != ''">answer = #{answer},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where question_id = #{questionId}
    </update>

    <delete id="deleteCyanQuestionByQuestionId" parameterType="Long">
        delete from cyan_question where question_id = #{questionId}
    </delete>

    <delete id="deleteCyanQuestionByQuestionIds" parameterType="String">
        delete from cyan_question where question_id in 
        <foreach item="questionId" collection="array" open="(" separator="," close=")">
            #{questionId}
        </foreach>
    </delete>
</mapper>